---
import AboutLayout from "@layouts/AboutLayout.astro";
import LinkButton from "@components/LinkButton.astro";
---

<AboutLayout frontmatter={{ title: 'About me' }}>
  <p>
    Hi, I'm Mohamed Salah. I'm a <span class="font-black text-orange-600"
      >DevOps Engineer</span
    > with a passion for building <span class="font-black text-orange-600"
      >web applications</span
    > and <span class="font-black text-orange-600">teaching</span>.
  </p>
  <p>
    I've been coding since 2005 and working professionally since 2012. In
    the last four years, I've created hundreds of articles <span
      class="font-black text-orange-600">helping software developers</span
    > improve their skills.
  </p>
  <p>
    You can access my technical articles on the
    <LinkButton
      className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
      href="/posts"
    >
      blog
    </LinkButton>
    and my writings on career, software engineering and other things on my
    <LinkButton
      className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
      href="https://akoskm.substack.com?utm_source=akoskm.com&utm_medium=website"
    >
      newsletter</LinkButton
    >.
    <p>
      I've also created a few
      <LinkButton
        className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
        href="/books"
      >
      books and courses
      </LinkButton>.
    </p>
  </p>
  <p>
    I'm always looking to improve my public speaking skills, so I'm open to speaking opportunities.
  </p>
  <p>
    Here are my previous talks:

    <li><a href="https://youtu.be/ysLCBi3L8JI?si=zTFOPd7v-F_1dDJd">Hashnode Bootcamp Day 2: Personal Branding & Community Engagement</a></li>
    <li><a href="https://youtu.be/hCeAdH-sqCE?si=wI0cKSOK4UqezpOB">The Ultimate Full Stack Framework for 2024: Remix</a></li>
  </p>
</AboutLayout>
